<form action="/restaurants/{{restaurant._id}}/edit" method="POST">
  <div class="container m-5">
    <div class="form-group row">
      <label class="col-sm-4" for="name">Name(Chinese):</label>
      <input type="text" class="form-control col-sm-8" id="name" name="name" value="{{restaurant.name}}">
    </div>
    <div class="form-group row">
      <label class="col-sm-4" for="name_en">Name(English):</label>
      <input type="text" class="form-control col-sm-8" id="name_en" name="name_en" value="{{restaurant.name_en}}">
    </div>
    <div class="form-group row">
      <label class="col-sm-4" for="category">Category:</label>
      <input type="text" class="form-control col-sm-8" id="category" name="category" value="{{restaurant.category}}">
    </div>
    <div class="form-group row">
      <label class="col-sm-4" for="location">Location:</label>
      <input type="text" class="form-control col-sm-8" id="location" name="location" value="{{restaurant.location}}">
    </div>
    <div class="form-group row">
      <label class="col-sm-4" for="phone">Phone:</label>
      <input type="tel" class="form-control col-sm-8" id="phone" name="phone" value="{{restaurant.phone}}">
    </div>
    <div class="form-group row">
      <label class="col-sm-4" for="rating">Rating:</label>
      <input type="text" class="form-control col-sm-8" id="rating" name="rating" value="{{restaurant.rating}}">
    </div>
    <div class="form-group row">
      <label class="col-sm-4" for="image">Choose a profile picture:</label>
      <input class="col-sm-8" type="file" id="image" name="image" accept="image/png, image/jpeg, image/jpg" value="{{restaurant.image}}">
    </div>
    <div class="form-group row">
      <label class="col-sm-4" for="description">Description:</label>
      <textarea class="col-sm-4" id="description" name="description" rows="4" cols="50" >{{restaurant.description}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>