<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
  integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
      <a class="navbar-brand" href="./restaurants/new">新增餐廳資訊</a>
    </div>
  </nav>
  <div class="banner"></div>
</header>

<!-- search bar -->
<div class="container search-bar pb-3">
  <div class="search-bar-outer pt-3">
    <form action="/restaurants/search" class="d-flex justify-content-between">
      <div class="search-bar-inner">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="searchContainer">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control input-field" placeholder="輸入餐廳、分類......" aria-label="Restaurant Name..."
              value="{{ keyword }}" aria-describedby="search-button" value="{{ }}">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search fa-lg icon"></i></button>
            </div>
          </div>
        </div>
      </div>

      <!-- drop-down search -->
      <div class="search-bar-inner">
        <div class="input-group dropdown">
          <select class="form-control" name="sortOption" id="sortOption" onchange="submit()">
            <option value="">選擇排序方式</option>
            {{#each sortType}}
            <option value="{{this.value}}" {{#isEqual this.value ../currentSortOption}} selected {{/isEqual}}>{{this.option}}</option>
            {{/each}}
          </select>
        </div>
      </div>

    </form>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">

    {{{ no_result }}}

    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">

        {{#each restaurants}}
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image_url}}"
              alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>

              <div class="CRUD">
                <a class="btn btn-info btn-sm" href="./restaurants/restaurant/{{this._id}}" role="button">detail</a>
                <a class="btn btn-warning btn-sm" href="/restaurants/{{this._id}}" role="button">edit</a>
                <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
                  <button class="btn btn-danger btn-sm" type="submit">delete</button>
                </form>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>


{{!-- shoe restaurants number --}}
<div class="d-flex justify-content-center mt-4">
  <p>顯示 {{restaurants.length}} 筆資料</p>
</div>
